{% extends  'users/base.html' %}
{% load static %}

    {% block title %}
        <title>Store - Registration</title>
    {% endblock %}

    {% block css %}
        <link href="../vendor/css/auth.css" rel="stylesheet"/>
    {% endblock %}

    {% block context %}
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create a account</h3>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputFirstName">Name</label>
                                                <input class="form-control py-4" id="inputFirstName" type="text"
                                                       placeholder="Enter a name"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputLastName">Surname</label>
                                                <input class="form-control py-4" id="inputLastName" type="text"
                                                       placeholder="Enter a surname"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputUsername">Username</label>
                                            <input class="form-control py-4" id="inputUsername" type="text"
                                                   aria-describedby="usernameHelp"
                                                   placeholder="Enter a username"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputEmailAddress">Email adress</label>
                                            <input class="form-control py-4" id="inputEmailAddress" type="email"
                                                   aria-describedby="emailHelp"
                                                   placeholder="Enter a email"/>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Password</label>
                                                <input class="form-control py-4" id="inputPassword" type="password"
                                                       placeholder="Enter a password"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputConfirmPassword">Repeat the password</label>
                                                <input class="form-control py-4" id="inputConfirmPassword"
                                                       type="password" placeholder="Repeat the password"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <input class="btn btn-primary btn-block" type="submit" value="Create a account">
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="login.html">Do you have a account? Login in</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}


